<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style-toggle-switch.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style-slider.css') }}">
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/statuses.js')}}"></script>
    <script src="{{url_for('static', filename='js/connection.js')}}"></script>
    <script src="{{url_for('static', filename='js/componets.js')}}"></script>

</head>

  <body>
    <h1>Smart House</h1>
    
    <div class="apartment">
        {% for room in rooms %}
        <div class="room">
            <div class="room-title">"{{room.room_name}}"</div>
            <div class="room-control-panels-collection">
                {% for component in room.components %}
                    {% if component.type == "heating" %}
                        <div class="room-control-panel">
                            <div class="room-control-panel-title">Heating</div>
                            <div class="room-control-component">
                                <span class="room-control-component-title">Heating switch: </span>
                                <label class="switch">
                                    <input type="checkbox" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="is_on">
                                    <span class="switch-slider round"></span>
                                </label>
                            </div>
                            <div class="room-status-component" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-id="{{component.id}}" data-var_name="is_on">
                                The heating is 
                                <span>{{component.is_on}}</span>
                            </div>
                            <div class="room-control-component">
                                <span class="room-control-component-title">Min temperature: </span>
                                <div class="slidecontainer">
                                    <input type="range" min="0" max="100" value="{{component.min}}" class="slider" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="min">
                                </div>
                            </div>
                            <div class="room-control-component">
                                <span class="room-control-component-title">Max temperature: </span>
                                <div class="slidecontainer">
                                    <input type="range" min="0" max="100" value="{{room.max}}" class="slider" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="max">
                                </div>
                            </div>
                            <div class="room-status-component" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="min">
                                The min temperature is 
                                <span>{{component.min}}</span>
                            </div>
                            <div class="room-status-component" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="now">
                                The temperature is 
                                <span>{{component.now}}</span>
                            </div>
                            <div class="room-status-component" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="max">
                                The max temperature is 
                                <span>{{component.max}}</span>
                            </div>
                        </div>
                    {% endif %}
                    {% if component.type == "light_bulb" %}
                        <div class="room-control-panel">
                            <div class="room-control-panel-title">Light bulb</div>
                            <div class="room-control-component">
                                <span class="room-control-component-title">Light switch: </span>
                                <label class="switch">
                                    <input type="checkbox" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="is_on"/>
                                    <span class="switch-slider round"></span>
                                </label>
                            </div>
                            <div class="room-status-component" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="is_on">
                                The light is 
                                <span>{{component.is_on}}</span>
                            </div>
                        </div>
                    {% endif %}
                    {% if component.type == "light_bulb_brightness" %}
                        <div class="room-control-panel">
                            <div class="room-control-panel-title">Light bulb brightness</div>
                            <div class="room-control-component">
                                <span class="room-control-component-title">Light switch: </span>
                                <label class="switch">
                                    <input type="checkbox" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="is_on"/>
                                    <span class="switch-slider round"></span>
                                </label>
                            </div>
                            <div class="room-status-component" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="is_on">
                                The light is 
                                <span>{{component.is_on}}</span>
                            </div>
                            <div class="room-control-component">
                                <span class="room-control-component-title">Light brightness: </span>
                                <div class="slidecontainer">
                                    <input type="range" min="0" max="100" value="{{component.now}}" class="slider" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="now">
                                </div>
                            </div>
                            <div class="room-status-component" data-room_name="{{room.room_name}}" data-id="{{component.id}}" data-var_name="now">
                                The light brightness is 
                                <span>{{component.now}}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    
  </body>
</html>