<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style-toggle-switch.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style-slider.css') }}">
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/connection.js')}}"></script>
    <script src="{{url_for('static', filename='js/componets.js')}}"></script>

</head>

  <body>
    <h1>Smart House</h1>
    
    <div class="apartment">
        {% for room in rooms %}
        <div class="room">
            <div class="room-title">"{{room.roomName}}"</div>
            <div class="room-control-panels-collection">
                <div class="room-control-panel">
                    <div class="room-control-panel-title">Light control panel</div>
                    <div class="room-control-component">
                        <span class="room-control-component-title">Light switch: </span>
                        <label class="switch">
                            <input type="checkbox" data-roomName="{{room.roomName}}" data-varName="lightState">
                            <span class="switch-slider round"></span>
                        </label>
                    </div>
                    <div class="room-status-component">
                        The light is 
                        <span>{{room.lightState}}</span>
                    </div>
                    <div class="room-control-component">
                        <div class="slidecontainer">
                            <input type="range" min="0" max="100" value="50" class="slider"  data-roomName="{{room.roomName}}" data-varName="lightBrightness">
                        </div>
                    </div>
                    <div class="room-status-component">
                        The light brightness is 
                        <span>{{room.lightBrightness}}</span>
                    </div>
                </div>
                <div class="room-control-panel">
                    <div class="room-control-panel-title">Temperature control panel</div>
                    <div class="room-control-component">
                        <span class="room-control-component-title">Heating switch: </span>
                        <label class="switch">
                            <input type="checkbox"  data-roomName="{{room.roomName}}" data-varName="heaterState">
                            <span class="switch-slider round"></span>
                        </label>
                    </div>
                    <div class="room-status-component">
                        The heating is 
                        <span>*value*</span>
                    </div>
                    <div class="room-control-component">
                        <span class="room-control-component-title">Temperature: </span>
                        <div class="slidecontainer">
                            <input type="range" min="0" max="100" value="50" class="slider"  data-roomName="{{room.roomName}}" data-varName="temperature">
                        </div>
                    </div>
                    <div class="room-status-component">
                        The temperature is 
                        <span>{{room.temperature}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
  </body>
</html>